* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
}
/* Container class */
.container {
  width: 1140px;
  margin: 0 auto;
}

/* header section design */
.header {
  height: 100vh;
  background-image: url(../images/banner/banner3.png);
  background-position: center;
  background-size: cover;
}
.header-content {
  text-align: right;
  position: absolute;
  top: 30%;
  right: 0;
  margin-right: 230px;
  padding: 0px 20px;
}
.header-content h1 {
  color: white;
  font-weight: 700;
  font-size: 65px;
  line-height: 76px;
}
.header-content p {
  margin-top: 24px;
  font-size: 16px;
  line-height: 26px;
  color: white;
}
.header-content button {
  color: #005fac;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: white;
  padding: 15px 30px;
  margin-top: 32px;
  font-weight: bold;
  cursor: pointer;
}
/* header section design */

/* My failures of previous year section design */
.prev-fpy-content {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.prev-fpy-content-left img {
  width: 570px;
}
.prev-fpy-content-right {
  margin-right: 40px;
  margin-top: 50px;
}
.prev-fpy-content-right h1 {
  font-size: 40px;
  line-height: 47px;
  font-weight: 700;
}
.prev-fpy-content-right p {
  margin-top: 24px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.prev-fpy-content-right div {
  margin-top: 20px;
}
.prev-fpy-content-right div > span > img {
  width: 20px;
}
.prev-fpy-content-right div > span {
  font-size: 16px;
}
/* My failures of previous year section design */

/* My plan section desing */
.my-plan-heading {
  text-align: center;
  margin-top: 130px;
  font-size: 40px;
  font-weight: 700;
}
.my-plan-cards {
  padding: 20px 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 50px;
}
.my-plan-cards div > img {
  width: 92px;
}
.my-plan-cards div > h1 {
  margin-top: 15px;
  font-size: 30px;
  font-weight: 700;
}
.my-plan-cards div > p {
  font-size: 25px;
  font-weight: 500;
  color: gray;
  margin-top: 15px;
}
/* My plan section desing */

/* Positive mindset section design */
.positive {
  border-radius: 8px;
  background-image: url(../images/gradient1.png), url(../images/watch.png);
  background-repeat: no-repeat;
  background-position: center;
}
.positive_content {
  margin-top: 130px;
  padding: 60px;
}
.positive_content h1 {
  font-size: 40px;
  color: white;
  font-weight: 700;
  line-height: 47px;
}
.positive_content button {
  margin-top: 24px;
  color: #005fac;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: white;
  padding: 15px 30px;
  font-weight: bold;
  cursor: pointer;
}
/* Positive mindset section design */
.footer {
  width: 100%;
  margin-top: 130px;
  background-color: #151414;
}
.footer-content {
  padding: 130px 0px;
  display: flex;
  justify-content: space-between;
}
.footer-content-left h2 {
  font-size: 45px;
  font-weight: 700;
  color: #fff;
}
.footer-content-left p {
  color: #fff;
  margin-top: 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.footer-content-left div {
  margin-top: 32px;
}
.footer-content-left div img {
  width: 47px;
  margin-right: 16px;
}
/* footer content right */
.footer-content-right h3 {
  font-size: 25px;
  font-weight: 600;
  color: #fff;
}
.footer-content-right input {
  margin-top: 30px;
  border: 1px solid #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
  background: transparent;
}
.footer-content-right button {
  margin-top: 16px;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: #005fac;
  padding: 15px 30px;
  font-weight: bold;
  cursor: pointer;
}
/* footer section design */
