* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
}
/* Container class */
.container {
  width: 1140px;
  margin: 0 auto;
}

/* header section design */
.header {
  height: 100vh;
  background-image: url(../images/banner/banner3.png);
  background-position: center;
  background-size: cover;
}
.header-content {
  text-align: right;
  position: absolute;
  top: 30%;
  right: 0;
  margin-right: 230px;
}
.header-content h1 {
  color: white;
  font-weight: 700;
  font-size: 65px;
  line-height: 76px;
}
.header-content p {
  margin-top: 24px;
  font-size: 16px;
  line-height: 26px;
  color: white;
}
.header-content button {
  color: #005fac;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: white;
  padding: 15px 30px;
  margin-top: 32px;
  font-weight: bold;
}
/* header section design */
